/**
 * Plugin styles
 */
.ce-header {
    margin: 0;
    line-height: 1.25em;
    outline: none;
    padding: 6px 0 6px 0;
    font-weight: bold;
}

.ce-header p,
.ce-header div {
    padding: 0 !important;
    margin: 0 !important;
}

/*.ce-header[data-header=H1] {*/
/*    font-size: 1.6em;*/
/*    padding: 32px 0 8px 0;*/
/*}*/

.ce-header[data-header=H1] {
    font-size: 1.4em;
    padding: 24px 0 8px 0;
}

.ce-header[data-header=H2] {
    font-size: 1.26em;
    padding: 24px 0 8px 0;
}

.ce-header[data-header=H3] {
    font-size: 1.16em;
    padding: 18px 0 6px 0;
}

.ce-header[data-header=H4] {
    font-size: .96em;
    padding: 18px 0 6px 0;
}

/*.ce-header[data-header=H6] {*/
/*    font-size: 1.1em;*/
/*    padding: 18px 0 6px 0;*/
/*}*/

.ce-header[contentEditable=true][data-placeholder]::before {
    position: absolute;
    content: attr(data-placeholder);
    color: #707684;
    font-weight: normal;
    display: none;
    cursor: text;
}

.ce-header[contentEditable=true][data-placeholder]:empty::before {
    display: block;
}

.ce-header[contentEditable=true][data-placeholder]:empty:focus::before {
    display: none;
}

.ce-header::after {
    position: absolute;
    content: attr(data-header);
    color: rgba(112, 118, 132, .5);
    display: none;
    left: -22px;
    font-size: 12px;
}
.ce-block:hover .ce-header::after,
.ce-block--focused .ce-header::after {
    display: inline-block;
}

.ce-toolbar__actions {
    padding-right: 24px;
}