/**
 * Plugin styles
 */
.ce-header {
    margin: 0;
    line-height: 1.25em;
    outline: none;
    padding: 6px 0 6px 0;
    font-weight: bold;
}

.ce-header p,
.ce-header div {
    padding: 0 !important;
    margin: 0 !important;
}

.ce-header[data-header=H1] {
    font-size: 1.8em;
}

.ce-header[data-header=H2] {
    font-size: 1.6em;
}

.ce-header[data-header=H3] {
    font-size: 1.5em;
}

.ce-header[data-header=H4] {
    font-size: 1.3em;
}

.ce-header[data-header=H5],
.ce-header[data-header=H6] {
    font-size: 1.2em;
}

.ce-header[contentEditable=true][data-placeholder]::before {
    position: absolute;
    content: attr(data-placeholder);
    color: #707684;
    font-weight: normal;
    display: none;
    cursor: text;
}

.ce-header[contentEditable=true][data-placeholder]:empty::before {
    display: block;
}

.ce-header[contentEditable=true][data-placeholder]:empty:focus::before {
    display: none;
}

.ce-header::after {
    position: absolute;
    content: attr(data-header);
    color: rgba(112, 118, 132, .5);
    display: inline-block;
    left: -22px;
    font-size: 12px;
}

.ce-toolbar__actions {
    padding-right: 24px;
}